# URL da API NestJS (quando deployada)
NEXT_PUBLIC_API_URL=http://localhost:3001

# Supabase Auth
NEXT_PUBLIC_DATABASE_SUPABASE_URL=https://seu-projeto.supabase.co
NEXT_PUBLIC_DATABASE_SUPABASE_ANON_KEY=
